@import '../../../scss/variables/variables';

.CenterLoader {
  top: 50%;
  left: 50%;
  color: $primary;
}
.Fixed {
  position: fixed;
}
.Absolute {
  position: absolute;
}
.Relative {
  position: relative;
}
